<section class="card">
    <p>This is review-details {{title}}</p>
<!-- log corresponding username from User table -->
<p> by: {{user.username}}</p>
<p> category: {{category.category_name}}</p>
{{log category.[0]}}

</section>