<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Post</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Welcome to Tech Post</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        <a href="/reviews">Reviews</a>
        <a href="/categories">Categories</a>
        <a href="/comments">Comments</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/tags">Tags</a>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <main>
        <aside>
            <h2>Feel free to post</h2>
            <p>Post your thoughts and opinions on the latest tech news</p>
            <p>This is views/layouts/main.handlebars</p>
        </aside>
        <div class="something">
            {{{body}}}
        </div>
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>