<section>
    <h2>Add a Category</h2>
    <form action="/categories" method="POST">
        <label for="category-name">Category Name</label>
        <input type="text" name="category_name" id="category-name">
        <button type="submit">Submit</button>
    </form>
</section>

<script src="/js/add-category.js"></script>

{{! Path: public\js\add-category.js }}