<section>
    <h2>Add a Review</h2>
    <form action="/reviews" method="POST">
        <label for="review-title">Review Title</label>
        <input type="text" name="review_title" id="review-title">
        <label for="review-text">Review Text</label>
        <input type="text" name="review_text" id="review-text">
        <label for="review-category">Review Category</label>
        <input type="text" name="review_category" id="review-category">
        <button type="submit">Submit</button>
    </form>
</section>