<section class="border border-info rounded custom-categories">
    <h2 class="bg-info-subtle">Available Categories</h2>
    {{#each categories as |category|}}
        {{> category-details}}
    {{/each}}
</section>