<section>
    <h1>Delete Review?</h1>
    <form class="delete-review">
        <input type="hidden" name="reviewId" id="reviewId" value="{{review._id}}">
        <button class="delete-review-btn" type="submit">Delete</button>
    </form>
</section>

<script src="/js/delete-review.js"></script>