<section class="container">
    <p>This is review.handlebars</p>
    <h3 class="review-title">{{review.title}}</h3>
    <p class="review-text">{{review.text}}</p>
    <p class="review-author">Posted by {{review.user_id}}</p>
{{#if loggedIn}}
<section class="flex-row justify-center">
    {{#each reviews as |review|}}
    {{> review}}
    {{/each}}
    </section>
    </section>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
</section>
</section>