<section>
    <h1>Update Review</h1>
    <form action="/reviews/update/{{review._id}}" method="POST" class="update-review-form">

        <label for="review-text">Review Text</label>
        <textarea type="text" name="review_text" id="review-text" value="{{review.text}}">
        </textarea>
        <button class="update-review-btn" type="submit">Submit</button>
    </form>
</section>

<script src="/js/update-review.js"></script>