<section>

    <h2>Update Review:  {{reviews.title}}</h2>
    <p> in  {{reviews.category.category_name}}</p>
    <p> Here you can update your review</p>

    <form action="/reviews/update/{{review._id}}" method="POST" class="update-review-form">

        <label for="review-text">New review text:</label>
        <textarea type="text" name="review_text" id="review-text" value="{{review.text}}">
        </textarea>
        <button class="update-review-btn" type="submit">Submit</button>
    </form>
</section>

<script src="/js/update-review.js"></script>